
.logo-container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 65px;
    width: 65px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #3084a4ff;
    margin: 0;
    padding: 0; 
}
  
  /* Navbar */
  .navbar {
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem 0 4rem
  }
  
  /* Navigation links */
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-link {
    color: rgb(105, 105, 105);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #3084a4ff;
  }
  