/* Wallet Details */
.wallet-owner {
	margin-top: 20px;
	padding-left: 1rem;
}

.wallet-owner h2{
	margin-bottom: 10px;
	color: rgb(49, 47, 47);
	font-size: xx-large;
}

.wallet-owner span {
	font-style: italic;
}

.wallet-owner p{
	margin-bottom: 10px;
	color: rgb(105, 105, 105);
	font-size: large;
}

/*Transaction List*/
.tranList {
	width: 70%;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-left: 195px;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	background-color: #fff;
	margin-bottom: 70px;
}

.tranList table {
	border: 2px solid #3084a4ff;
	border-radius: 8px;
	width: 800px;
	height: 200px;
	margin-top: 15px;
	box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.7);
}

.tranList th {
	border-bottom: 1px solid #3084a4ff;
	padding: 10px 5px 10px 5px;
	color: rgb(105, 105, 105);
}

.tranList td {
	text-align: center;
	padding: 10px 5px 10px 5px;
	color: rgb(105, 105, 105);
}

.trans-title{	
	color: rgb(105, 105, 105);
}

/*Fund Wallet*/

.fundwallet {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid #3084a4ff;
	background-color: #3084a4ff;
	color: white;
	min-height: 60vh;
	padding: 20px;
	margin: 20px;
	border-radius: 8px;
	box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.7);
}

.fundwallet h2  {
	margin-top: 60px;
	margin-bottom: 10px;
	
}

.fundwallet hr {
	width: 80%;
	margin-bottom: 20px;
}

.fundwallet p {
	margin-top: 8px;
	margin-bottom: 30px;
}

.fund-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fund-form label {
	margin: 10px 0 10px 0;
	font-size: 18px;
	font-weight: 600;
}

.fund-form input {
	margin-bottom: 15px;
	border: 1px solid #3084a4ff;
	border-radius: 8px;
	width: 150%;
	padding: 10px 20px 10px 20px;
	text-align: center;
}

.fund-form button {
	font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 40px;
	font-weight: 600;
    background: #2b454eff;
    background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
    background: -o-linear-gradient(to left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
    background: linear-gradient(to left, #21d4fd, #b721ff);
}

/*   Wallet-card   */
.wallet-card {
	display: flex;
    flex-direction: row;
	justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    min-height: 70vh;
}

/*  Transfer Fund */
.transfer-fund {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid #3084a4ff;
	background-color: #fff;
	color: rgb(105, 105, 105);
	width: 35%;
	min-height: 60vh;
	padding: 20px;
	margin: 20px;
	border-radius: 8px;
	box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.7);
}

.transfer-fund h2 {
	margin-top: 40px;
	margin-bottom: 10px;
}

.transfer-fund hr {
	width: 80%;
	margin-bottom: 20px;
	color: rgb(105, 105, 105);
}

.transfer-form button {
	font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
	font-weight: 600;
    background: #2b454eff;
    background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
    background: -o-linear-gradient(to left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
    background: linear-gradient(to left, #21d4fd, #b721ff);
}

.transfer-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.transfer-form label {
	margin: 10px 0 10px 0;
	font-size: 18px;
	font-weight: 600;
}

.transfer-form input {
	margin-bottom: 15px;
	border: 2px solid #3084a4ff;
	border-radius: 8px;
	width: 150%;
	padding: 10px 20px 10px 20px;
	text-align: center;
}
