* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
}

.registration-page {
    width: 100%;
    margin: 0 auto;
} 

.form-wrapper{
    width: 100%;
}
.app-wrapper1 {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
    padding: 15px;
    background-color: #fff;
}

.app-wrapper2 {
    width: 30%;
    background: transparent;
    background-color: #5a9cb6ff;
    border-radius: 10px;
    overflow: hidden;
    padding: 50px 55px 0px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.7);
}
/* .app-wrapper3 {
    background-image: url("./components/images/logan-isbell-F5b7_OD4IMA-unsplash.jpg");
    background-size: cover;
    background-position: 0%;
    width: 50%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
} */
/* .app-wrapper4 {
    background: linear-gradient(135deg, #6e45e2, #88d3ce);
    opacity: 0.3;
    width: 50%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
} */

.input {
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    border: none;
    display: block;
    width: 100%;
    height: 45px;
    background-color: transparent;
    padding: 0 5px;
}

.signup {
    display: block;
    font-size: 30px;
    color: #fff;
    margin-bottom: 15px;
    line-height: 1.2;
    text-align: center;
}
.lable{
    color: #fff;
}

.wrapper-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.signup-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;
}

.submit{
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #2b454eff;
    background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
    background: -o-linear-gradient(to left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
    background: linear-gradient(to left, #21d4fd, #b721ff);
  }

  .submit:hover{
    color:#3084a4ff;
    background: linear-gradient(#fff,#fff) padding-box,
    linear-gradient(135deg, #6e45e2, #88d3ce) border-box;
    border: 2px solid transparent;
    /* border-radius: 25px; */
  }

  .error{
    color: rgb(255, 0, 0);
    font-size: 0.8em;
  }